.navbar-absolute {
    position: absolute;
    margin-top: 0%;
}
.container1{
    margin-top: 3%;
    margin-left: 8%;
    margin-bottom: 3%
}
.form-control{
    height: 3rem;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #51cbce !important;
}
.nav-pills .nav-link{
    margin-top: 2rem;
}
/* course */
.profile-titre{
    color: #747474;
    font-weight: bold;
}
.social{
    font-size: 1.5rem;
    padding-left: 3rem; 
}
.social-titre{
    color: #747474;
    font-weight: bold;
    font-size: 1.5rem;
}
.btn-round{
    padding-right: 2rem;
}
.title{
    margin-top: 1.5rem;
    font-size:2rem;
}

.add-course-btn{
    margin-left: 5rem;
    margin-right: 5rem;
  }